.btn-sub {
  margin-top: 25px;
  height: 35px;
  width: 100px;
}
div {
  text-align: center;
}
h4 {
  margin-top: 3%;
}
.BLUE {
  height: 30px;
  width: 30px;
  background-color: blue;
  margin-left: 5px;
  margin-top: 20px;
  display: inline-block;
}
.RED {
  height: 30px;
  width: 30px;
  background-color: red;
  margin-left: 5px;
  margin-top: 20px;
  display: inline-block;
}
.ORANGE {
  height: 30px;
  width: 30px;
  background-color: orange;
  margin-left: 5px;
  margin-top: 20px;
  display: inline-block;
}
.GREEN {
  height: 30px;
  width: 30px;
  background-color: green;
  margin-left: 5px;
  margin-top: 20px;
  display: inline-block;
}
